.top-padded {
    padding-top: 50px;
}

.header-text {
    text-align: center;
}

.form-style {
    max-width: 500px;
}

.navbar-brand {
    height: 40px;
    padding: 0 0 0 0;
    margin: 0 10px 0 0;
}

.search-btn-container {
    margin: 0;
}

/* override some bootstrap classes */
.jumbotron {
    margin-bottom: 0 !important;
}
#footer {
    flex-grow: 1 !important;
}

/* source: https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
/* hides input number scroller
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

